<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="B2BPlatform\MagentoSafeSync\Api\HandshakeManagementInterface"
                type="B2BPlatform\MagentoSafeSync\Model\HandshakeManagement"/>
    <preference for="B2BPlatform\MagentoSafeSync\Api\ProductReadManagementInterface"
                type="B2BPlatform\MagentoSafeSync\Model\ProductReadManagement"/>
    <preference for="B2BPlatform\MagentoSafeSync\Api\ProductWriteManagementInterface"
                type="B2BPlatform\MagentoSafeSync\Model\ProductWriteManagement"/>
</config>
